.azeret-mono-normal {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  
  font-style: normal;
}
.header{
    background-image: url('../assets/Hero-bg.png');
    
    max-height: 652px;
}
.section-container{
    text-align: center;
    padding: 45px 220px;
    
    
}
.section-picture{
    width: 240.28px;
    height: 240px;
}
.section-title{
    font-size: 48px;
    color: #0D1321;
    line-height: 68px;
    font-weight: 800;
}
.section-description{
    font-size: 16px;
    line-height: 26px;
    color: #0D1321;
}
.btn-primary{
    background-color: #0D1321 ;
    font-size: 10px;
    padding: 21px 24px;
    border: none;
color: #D9D9D9;
}
.secondary-title{
    font-size: 32px;
    font-weight: 800px;
    color: #0D1321;
     ;
}
.secondary-description{
    font-size: 16px;
    color: #0D1321;
    line-height: 26px;
    ;
}
.secondary1-title{
    font-size: 24px;
    font-weight: 700;
    color: #0D1321 ;
}
.secondary1-description{
    font-size: 16px;
    line-height: 26px;
    color: #0D1321;
    margin-bottom: 50px;
}
.secondary1-btn{
    font-size: 20px;
    font-weight: 600;
    color: #0D1321;
    border: solid;
    background-color: white;
}
.secion-picture{
    width: 274.17px;
    height: 240px;
  }
  .banner{
    display: flex;
   justify-content: center;
   align-items: center;
    margin: 0 35px 0 200px;
 }
 .banner-picture{
    width: 274.17px;
    height: 240px;
 }
 
 .secondary-bg{
  background-color: rgba(173, 200, 247, 1);
 }
 .main{
    max-width: 1140px;
    margin: 0 auto;
 }
 .text-position{
    text-align: center;
 }
 .lang-container{
    display: flex;
   gap: 24px;
   
  }
  .langs{
    padding: 30px;
    box-shadow:0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    border-radius: 15px;
  }
  .langs-html{
    background-color: rgba(255, 76, 30, 0.05);
  }
  .langs-css{
    background-color: rgba(0, 76, 232, 0.05);
  }
  .langs-js{
    background-color: rgba(255, 223, 0, 0.05);

  }
  .lang-btn{
    font-size: 16px;
    font-weight: 700;
    color: #0D1321;
    border: none;
    text-decoration: underline;
  }
  *{
    margin-bottom: 50px;
  }
  .target-container{
    display: flex;
    border: 2px solid;
    border-radius: 10px;
    padding: 40px;
    
  }
  .terget-img-quantity{
    width: 94.78px;
    height: 108px;
  }
  .super-container{
    background-image: url('../assets/handshake.jpg');
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
    border: 2px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;

  }
  .super-content{
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
   text-align: center;
   margin-top: 32px;
   margin-bottom: 30px
  }
  .super-content input{
    width: 350px;
    height: 35px;
    border: none;
    border-radius: 5px;
    background-color: #FFFFFF;
  }
  #super-btn{
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 5px;
  }
  .footer-container{
    display: flex;
    justify-content: space-between;
  }